body {
    background-color: silver;
}

#titulo {
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 40px;
}
/* Aqui defini el color del body, tamaño del titulo y centrado */
#colorsubtitulo {
    background-color: #258AB0;
}
/* Defini el color del subtitulo */
img {
    height: 300px;
}
/* Defini medida de las imagenes */
#margen {
    margin-top: 20px;
}
/* Defini margen entre parrafos */
#botonahome {
    padding-top: 50px;
}
/* Defini espacio del boton home */









