body {
    background-color: lavenderblush;
}

#titulo {
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 60px;
    background-color: #D8B171;
    border-radius: 100px;
}

/* Aca le di color al body, titulo y acomode el mismo */

#titulodecontactos {
    text-align: center;
    background-color: #5DA4B4;
    border-radius: 100px;
}

#imagenprincipal {
    height: 500px;
}

#margenentreiconos {
    margin-top: 50px;
}
#iconos{
    height: 100px;
}

/* En esta parte le di color al titulo de contactos y defini los valores de la imagen principal y los iconos*/

#botonahome {
    padding-top: 50px;
}

/* Acomode el boton home */