body {
    background-color: lemonchiffon;
}

#titulo {
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 60px;
    background-color: #B6D0DA;
}
/* Aca le di color al body y al titulo y acomode el mismo */
#imagenprincipal {
    height: 400px;
}
/* le di valor a la imagen principal */
#botonahome {
    padding-top: 60px;
}
/* Acomode el boton home */
#espacioparrafos {
    margin-top: 25px;
}
/* Defini espacio entre los parrafos */