body {
    background-color: beige;
}

#titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7B577;
}

#colorsubtitulo {
    background-color: #D8B171;
}

#subtitulo {
    margin-top: 5;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
/* Aca le di color al body, titulo y subtitulo del mismo, los acomode de mejor manera */
#titulocontactos {
    background-color: #85C1E9;
    border-radius: 10px;
}
/* le di color y le puse borde al titulo de contactos */
#imagenprincipal {
    width: 450px;
    height: 300px;
}
/* defini los tamaños de la imagen principal */
#separacionopciones {
    margin-top: 50px;
}
/* di una espacio entre las opciones */
#ultimomargen {
    margin-top: 75px;
    background-color: #707678;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* defini color y valor del ultimo margen */